/**
* Footer primary layout
**/

@import "zen";

.view-footer-view-primary .views-row,
.footer-view-primary .views-row {
  display: table;
  .views-field-field-image-block{
    display: table-cell;
    vertical-align: middle;
  }
  .views-field-body{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }
}
